@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-space: "Space Mono", "monospace";
  
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    scale: 0.9;
  }
  100% {
    opacity: 0.8;
    scale: 1.1;
  }
}

